:root {
  --purple_light: #ede9f5;
  --purple_mid: #d2cae6;
  --purple_dark: #b4a7d6;
  --blue_light: #e7f2fa;
  --blue_mid: #c4def4;
  --blue_dark: #a3caed;
  --red_light: #feebee;
  --red_mid: #fcccd1;
  --red_dark: #ea9999;
  --yellow_light: #fff9e6;
  --yellow_mid: #feefc0;
  --yellow_dark: #ffe599;
  --green_light: #f0f7ee;
  --green_mid: #d9ead3;
  --green_dark: #beddb3;
  --gray_light: #ffffff;
  --gray_mid: #fafafa;
  --gray_dark: #f5f5f5;
}

#root {
  padding: 1rem 0;
  text-align: center;
  display: inline-block;
  width: 100%;
}

.icon-1 {
  height: 100%;
}

.icon-2 {
  width: 1em;
  display: inline-block;
  fill: currentColor;
}

.inv {
  display: none;
}

h1 {
  font-size: 2em;
  margin: 15px 0;
}

table {
  margin: 0 auto;
}

.table-container {
  width: 100%;
  overflow: auto;
}

th {
  padding: 2px 10px;
}

.th-terminal {
  background-color: var(--yellow_dark);
}

.th-num {
  background-color: var(--yellow_mid);
}

.th-man {
  background-color: var(--red_mid);
}

.td-man {
  background-color: var(--red_dark);
}

.th-pin {
  background-color: var(--blue_mid);
}

.td-pin {
  background-color: var(--blue_dark);
}

.th-sou {
  background-color: var(--green_mid);
}

.td-sou {
  background-color: var(--green_dark);
}

.th-hon {
  background-color: var(--purple_mid);
}

.td-hon {
  background-color: var(--purple_dark);
}

.ref-tiles {
  width: 60px;
  padding: 6px;
}

.tenbou-table {
  margin: 30px auto;
  font-weight: bold;
}

.ref-tenbou {
  width: 300px;
  padding: 6px;
}

.tenbou-left, .tenbou-right {
  width: 20%;
}

.tenbou-center {
  width: 60%;
}

.yaku-list {
  width: 50vw;
  max-width: 1280px;
  margin: 0 auto;
}

.yaku-main {
  margin-top: 0px;
  margin-bottom: 0px;
}

.yaku-sub {
  opacity: 0.6;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 0.8em;
}

.yaku-tiles-container {
  margin-top: 20px;
}

.yaku-tiles {
  width: 30px;
  padding: 0 1px 0 1px;
}

.yaku-tiles.kan {
  padding: 0;
}

.yaku-tiles.kan.rotated {
  height: 30px;
  width: auto;
}

.kan-group {
  padding: 0 4px 0 4px;
  overflow: none;
}

.win-group {
  padding: 0 0 0 26px;
  min-height: 100%;
  display: inline-flex;
  align-items: center;
}

.winning-tile-separator {
  padding: 0 6px 0 6px;
  align-items: center;
  font-weight: bold;
}

.yaku-note {
  opacity: 0.6;
  font-style: italic;
  margin-top: 16px;
}

@media only screen and (max-width: 1300px) {
  table {
    width: 100%;
  }

  .yaku-list {
  width: 100%;
  margin: 0 auto;
  }

  .ref-tiles {
  width: 40px;
  padding: 6px;
  }

  .ref-tenbou {
    width: 230px;
  }
}
