:root {
  --purple_light: #ede9f5;
  --purple_mid: #d2cae6;
  --purple_dark: #b4a7d6;
  --blue_light: #e7f2fa;
  --blue_mid: #c4def4;
  --blue_dark: #a3caed;
  --red_light: #feebee;
  --red_mid: #fcccd1;
  --red_dark: #ea9999;
  --yellow_light: #fff9e6;
  --yellow_mid: #feefc0;
  --yellow_dark: #ffe599;
  --green_light: #f0f7ee;
  --green_mid: #d9ead3;
  --green_dark: #beddb3;
  --gray_light: #ffffff;
  --gray_mid: #fafafa;
  --gray_dark: #f5f5f5;
}

#root {
  padding: 1rem 0;
  text-align: center;
  display: inline-block;
  width: 100%;
}

a {
  cursor: pointer;
}

a:hover {
  color: var(--purple_dark);
}

.icon-1 {
  height: 100%;
}

.icon-2 {
  width: 1em;
  display: inline-block;
  fill: currentColor;
}

.inv {
  display: none;
}

h1 {
  font-size: 2em;
  margin: 15px 0;
}

table {
  margin: 0 auto;
  width: 50vw;
  max-width: 1280px;
}

.table-container {
  width: 100%;
  overflow: auto;
}

th {
  padding: 2px 10px;
}

.th-terminal {
  background-color: var(--yellow_dark);
}

.th-num {
  background-color: var(--yellow_mid);
}

.th-man {
  background-color: var(--red_mid);
}

.td-man {
  background-color: var(--red_dark);
}

.th-pin {
  background-color: var(--blue_mid);
}

.td-pin {
  background-color: var(--blue_dark);
}

.th-sou {
  background-color: var(--green_mid);
}

.td-sou {
  background-color: var(--green_dark);
}

.th-hon {
  background-color: var(--purple_mid);
}

.td-hon {
  background-color: var(--purple_dark);
}

.ref-tiles {
  width: 60px;
  padding: 6px;
}

.tenbou-table {
  margin: 30px auto;
  font-weight: bold;
}

.ref-tenbou {
  width: 300px;
  padding: 6px;
}

.tenbou-left, .tenbou-right {
  width: 20%;
}

.tenbou-center {
  width: 60%;
}

.yaku-list {
  width: 50vw;
  max-width: 1280px;
  margin: 0 auto;
}

.yaku-main {
  margin-top: 0px;
  margin-bottom: 0px;
}

.yaku-sub {
  opacity: 0.6;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 0.8em;
}

.yaku-tiles-container {
  padding: 10px;
  background-color: rgba(0,0,0,0.08);
  border-radius: 10px;
  margin: 16px auto;
  width: fit-content;
}

.yaku-tiles {
  width: 42px;
  padding: 0 2px 0 2px;
}

.yaku-tiles.kan {
  padding: 0;
}

.yaku-tiles.kan.rotated {
  height: 42px;
  width: auto;
}

.kan-group {
  padding: 0 4px 0 4px;
  overflow: none;
  display: inline-block;
}

.win-group {
  padding: 10px 0 0 0;
  min-height: 100%;
  display: inline-flex;
  align-items: center;
}

.winning-tile-separator {
  padding: 0 6px 0 6px;
  align-items: center;
  font-weight: bold;
}

.yaku-note {
  opacity: 0.6;
  font-style: italic;
}

.td-score {
  font-weight: bold;
  background-color: var(--blue_mid);
}

tbody.td-score td {
  padding: 4px 10px;
}

tbody.td-score td:last-child {
  font-weight: normal;
}

table.td-main, table.td-fu, table.td-trip {
  border-collapse:separate; 
  border-spacing: 0 10px;
}

table.td-main tr {
  background-color: var(--purple_mid);
}

table.td-fu tr {
  background-color: var(--blue_mid);
}

table.td-main td, table.td-fu td, table.td-trip td {
  padding: 10px;
}

table.td-main td label, table.td-fu td label {
  display: none;
}

table.td-main td:first-child, table.td-fu td:first-child, table.td-trip td:first-child {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

table.td-main td:last-child, table.td-fu td:last-child, table.td-trip td:last-child {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

table.td-fu, table.td-trip {
  border-width: 0;
}

table.td-fu .ul-container {
  text-align: center;
}

table.td-fu ul {
  display: inline-block;
  text-align: left;
  margin-bottom: 0;
}

table.td-trip tr.trip-enabled {
  background-color: var(--green_mid);
}

table.td-trip tr.trip-disabled {
  background-color: var(--gray_dark);
}

td.cols2 {
  width: 50%;
}

td.cols3 {
  width: 33%;
}

table.td-hanfu {
  background-color: var(--gray_dark);
  border-radius: 10px;
  width: 45%;
  padding: 20px 0;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2);
  margin: 2em auto;
}

h1.points, h2.points {
  font-weight: normal;
}

h2.points {
  margin: 0;
}

h1.invalid {
  color: firebrick;
}

.num-field {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.25rem;
}

.num-label {
  cursor: ew-resize;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: var(--color-gray-900);
}

.num-group {
  display: flex;
}

.num-input {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-radius: 0;
  border-top: 1px solid var(--color-gray-200);
  border-bottom: 1px solid var(--color-gray-200);
  border-left: none;
  border-right: none;
  width: 6rem;
  height: 2.5rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: normal;
  background-color: transparent;
  color: var(--color-gray-900);

  text-align: center;
  font-variant-numeric: tabular-nums;

  &:focus {
    z-index: 1;
    outline: 2px solid var(--color-blue);
    outline-offset: -1px;
  }
}

.num-decrement,
.num-increment {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  margin: 0;
  outline: 0;
  padding: 0;
  border: 1px solid var(--color-gray-200);
  border-radius: 0.375rem;
  background-color: var(--color-gray-50);
  background-clip: padding-box;
  color: var(--color-gray-900);
  user-select: none;

  @media (hover: hover) {
    &:hover {
      background-color: var(--color-gray-100);
    }
  }

  &:active {
    background-color: var(--color-gray-100);
  }
}

.num-decrement {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.num-increment {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

@media only screen and (max-width: 1300px) {
  table {
    width: 100%;
  }

  .yaku-list {
  width: 100%;
  margin: 0 auto;
  }

  table.td-hanfu {
    width: 100%;
  }

  .ref-tiles {
  width: 40px;
  padding: 6px;
  }

  .ref-tenbou {
    width: 230px;
  }

  .yaku-tiles {
    width: 34px;
  }

  .yaku-tiles.kan.rotated {
    height: 34px;
  }
}
